[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=tab
tab_width=4

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=4

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=4

[*.json]
indent_style=space
indent_size=2

[*.json5]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=4

[*.java]
indent_style=space
indent_size=4

[*.properties]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

[{*.gy,*.groovy,*.gant,*.gradle,*.gdsl}]
indent_style=space
indent_size=4

[{*.kts,*.kt}]
indent_style=space
indent_size=4

[{*.h,*.cc,*.ii,*.cpp,*.icc,*.mm,*.tcc,*.hxx,*.c++,*.hp,*.hh,*.cxx,*.inl,*.hpp,*.m,*.i,*.c,*.h++,*.pch,*.cp}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

